*
{
	margin: 0;
	padding: 0;
	font-family: 'Archivo', sans-serif;
}

.center
{
	width: 1000px;
	margin: 0 auto;
}

header
{
	height: 65px;
}

header > img
{
	margin-top: 20px;
	margin-left: 60px;
}

.navBar
{
	width: 950px;
	background-color: #222931;
	height: 50px;
	font-size: 12px;
	font-weight: 500;
}

ul
{
	list-style-type: none;
	text-transform: uppercase;
}

.navBar ul > li
{
	display: inline-block;
	padding-top: 19px;
	padding-bottom: 18px;
	padding-left: 7px;
	padding-right: 8px;
}

ul li:hover
{
	background-color: #ffe718;
	transition: 0.5s ease;
}

#firstNavItem
{
	margin-left: 28px;
}

ul > li > a
{
	color: white;
	text-decoration: none;
}

.subMenu > li
{
	display: block;
	width: 100px;
}

#overOns
{
	position: relative;
}

.subMenu
{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	font-size: 12px;
	font-weight: 500;
	background-color: #222931;
}

#overOns:hover .subMenu
{
	display: block;
}

.headerImg
{
	width: 100%;
	height: 410px;
	position: relative;
	top: -25px;
	z-index: -1;
}

.banners
{
	position: relative;
	top: 60px;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 600;
}

.banners img
{
	margin-left: 25px;
}

.bannerDiv
{
	position: relative;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.banner1Link
{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	position: absolute;
	top: 0px;
	left: 25px;
	text-decoration: none;
	display: none;
}

#banner1:hover ~ .banner1Link
{
	display: block;
}

.bannerDiv a
{
	text-decoration: none;
	color: white;
	line-height: 220px;
}

.banner2Link
{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	position: absolute;
	top: 0px;
	left: 25px;
	text-decoration: none;
	display: none;
}

#banner2:hover ~ .banner2Link
{
	display: block;
}

.banner3Link
{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	position: absolute;
	top: 0px;
	left: 25px;
	text-decoration: none;
	display: none;
}

#banner3:hover ~ .banner3Link
{
	display: block;
}

.ribbon
{
	width: 100%;
	height: 140px;
	background-color: #ffe718;
	position: relative;
	top: 150px;
}

.ribbonP1
{
	font-size: 34px;
	font-weight: 700;
	display: inline;
	line-height: 140px;
}

.ribbonP2
{
	font-size: 16px;
	font-weight: 700;
	display: inline;
	line-height: 140px;
	margin-left: 20px;
}

.ribbon a
{
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 10px 40px;
	font-size: 12px;
	font-weight: 500;
	margin-left: 280px;
}

.ribbon a:hover
{
	color: white;
	background-color: #aeb6be;
}

.imageFooter
{
	position: relative;
	top: 210px;
	z-index: -1;
}

.imageFooter > img
{
	width: 100%;
	height: 220px;
}